.login-section {
  padding: 20px;
  border-radius: 30px;
  background-image: linear-gradient(-120deg, lightblue 12%, white 15%);
  box-shadow: 4px 4px 2px lightblue;
}

.login__title {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 100px;
}

.login__form.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 25px;
}

.form__label {
  margin-bottom: 20px;
}

.login__input.form__input {
  border-radius: 30px;
  border: 2px solid #0f0f0f;
  padding: 10px 15px;
  font-size: 20px;
}

.login__input-container {
  margin-bottom: 100px;
}

.login__input-wrapper.form__input-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.form__label.form__label--password {
  margin-right: 15px;
  margin-bottom: 20px;
}

.login__input.form__input {
  border-radius: 30px;
  padding: 10px 15px;
  border: 2px solid #0f0f0f;
  font-size: 20px;
}

.login__submit.form__submit.button {
  display: inline-flex;
  width: fit-content;
  padding: 12px 40px;
  border: none;
  background-color: darkorange;
  border-radius: 30px;
  color: white;
  font-size: 18px;
}

@media (min-width: 768px) {
  .login-section {
    padding: 20px 100px;
  }

  .login__input-wrapper.form__input-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form__label,
  .form__label.form__label--password  {
    margin-bottom: 0;
  }


}

.login__input-container .error-input {
  border-color: crimson;
  border-width: 2px;
}
  
.login__input-container .error-text {
  color: crimson;
  font-size: 15px;
  margin: 10px -15px 10px 0;
  font-style: italic;
  max-width: 300px;
}
