.wrapper {
  width: fit-content;
  margin: auto;
  text-align: center;
}
  
.heading {
  color: crimson;
  margin-bottom: 50px;
}

.linkMain {
  border: 2px solid darkgray;
  padding: 15px;
  border-radius: 15px;
  text-decoration: none;
  color: darkgray;
}
  